<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar parametros mediante GET</title>
</head>
<body>
	<h1>Enviar parametros mediante GET</h1>
	<ul>
	<li>
	<a th:href="@{/params/string(texto='hola JanPierre')}">/params/string?texto=hola JanPierre</a> 
	</li>
	<li>
	<a th:href="@{/params/mix-params(saludo='Saludos como estas', numero = 7)}">/params/mix-params?saludo=Como estas JanPierre&numero=7</a> 
	</li>
	<li>
	<a th:href="@{/params/mix-params-request(saludo='Saludos como estas', numero = 7)}">/params/mix-params-request?saludo=Como estas JanPierre&numero=7</a> 
	</li>
	</ul>
</body>
</html>